@model Faction

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["FactionDetails"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2> <a class="btn btn-dark" asp-controller="Faction" asp-action="Upsert" asp-route-id="@Model.Id">@Localizer["Edit"]</a> <a class="btn btn-dark" asp-controller="Faction" asp-action="Index">@Localizer["List"]</a><br />
<div class="container">
    <div class="row">
        <div class="col-md-4"><p>@Localizer["Name"]</p></div>
        <div class="col-md-4"><p>@Model.Name</p></div>
    </div>
    <div class="row">
        <div class="col-md-4"><p>@Localizer["Game"]</p></div>
        <div class="col-md-4"><a asp-controller="Game" asp-action="Details" asp-route-id="@Model.GameId">@Model.Game?.Name</a></div>
    </div>
    <div class="row">
        <div class="col-md-4"><p>@Localizer["Block"]</p></div>
        <div class="col-md-4"><a asp-controller="Block" asp-action="Details" asp-route-id="@Model.BlockId">@Model.Block?.Name</a></div>
    </div>
    <div class="row">
        <div class="col-md-4"><p>@Localizer["Slogan"]</p></div>
        <div class="col-md-4"><p>@Model.Slogan</p></div>
    </div>
    @if (Model.Logo != null)
    {
        <div class="row">
            <div class="col-md-4"><p>@Localizer["Logo"]</p></div>
            <div class="col-md-4"><img src="@Model.Logo" alt="@Model.Name" /></div>
        </div>
    }
    @if (Model.Icon != null)
    {
        <div class="row">
            <div class="col-md-4"><p>@Localizer["Icon"]</p></div>
            <div class="col-md-4"><img src="@Model.Icon" alt="@Model.Name" /></div>
        </div>
    }
</div>