@model FactionViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["UpsertFaction"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/RestUtility.js"></script>

<h2>@(Model.Id > 0 ? Localizer["EditFaction"] : Localizer["CreateFaction"])</h2>

<form asp-controller="Faction" asp-action="Upsert" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>@Localizer["Name"]</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Game"]</label>
        <select id="gameSelect" asp-for="GameId" asp-items="@Model.GamesAvailable" class="form-control btn btn-secondary">
            <option value="@null">@Localizer["PleaseSelect"]</option>
        </select>
        <span asp-validation-for="GameId"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Block"]</label>
        <select id="blockSelect" asp-for="BlockId" asp-items="@Model.BlocksAvailable" class="form-control btn btn-secondary">
            <option value="@null">@Localizer["PleaseSelect"]</option>
        </select>
        <span asp-validation-for="BlockId"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Slogan"]</label>
        <input asp-for="Slogan" class="form-control" />
        <span asp-validation-for="Slogan"></span>
    </div>

    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="uploadLogoFileLabel">@Localizer["UploadLogo"]</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="uploadLogoFile"
                   aria-describedby="uploadLogoFileLabel">
            <label class="custom-file-label" for="inputGroupFile01">@Localizer["ChooseFile"]</label>
        </div>
    </div>

    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="uploadIconFileLabel">@Localizer["UploadIcon"]</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="uploadIconFile"
                   aria-describedby="uploadIconFileLabel">
            <label class="custom-file-label" for="inputGroupFile01">@Localizer["ChooseFile"]</label>
        </div>
    </div>

    <div class="text-center">
        <input class="btn btn-secondary" type="submit" value="@Localizer["Save"]" />
        <a class="btn btn-secondary" asp-controller="Faction" asp-action="Index">@Localizer["Discard"]</a>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#gameSelect').change(getAvailableBlocks);
    });
</script>