@model RegisterToTournamentViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Register"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/RegisterToTournament.js"></script>

<div class="container">
    @Localizer["User"]: @Model.UserName <br />
    @Localizer["Tournament"]: @Model.TournamentTitle <br />
</div>

<form asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <input type="hidden" asp-for="TournamentId" class="form-control" />
        <input type="hidden" asp-for="UserId" class="form-control" />
    </div>

    <div class="form-group">
        <label>@Localizer["Block"]</label>
        <select id="blockSelect" asp-for="BlockId" asp-items="@Model.BlocksAvailable" class="form-control">
            <option value="@null">@Localizer["PleaseSelect"]</option>
        </select>
        <span asp-validation-for="BlockId"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Faction"]</label>
        <select id="factionSelect" asp-for="FactionId" asp-items="@Model.FactionsAvailable" class="form-control">
            <option value="@null">@Localizer["PleaseSelect"]</option>
        </select>
        <span asp-validation-for="FactionId"></span>
    </div>

    <div class="text-center">
        <input class="btn btn-dark" type="submit" value="@Localizer["Save"]" />
        <a class="btn btn-dark" asp-controller="Tournaments" asp-action="Details" asp-route-id="@Model.TournamentId">@Localizer["Cancel"]</a>
    </div>
</form>

