@model TournamentViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["UpsertTournament"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/TournamentRegisterPlayer.js"></script>

<h2>@(Model.Id > 0 ? Localizer["EditTournament"] : Localizer["CreateTournament"])</h2>

<form asp-action="Upsert" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>@Localizer["Title"]</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Slogan"]</label>
        <input asp-for="Slogan" class="form-control" />
        <span asp-validation-for="Slogan"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Status"]</label>
        <select asp-for="Status" asp-items="@Model.StatusesAvailable" class="form-control btn btn-secondary">
            <option value="@null">@Localizer["PleaseSelect"]</option>
        </select>
        <span asp-validation-for="Status"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Starts"]</label>
        <input asp-for="DateStart" class="form-control" />
        <span asp-validation-for="DateStart"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Ends"]</label>
        <input asp-for="DateEnd" class="form-control" />
        <span asp-validation-for="DateEnd"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Country"]</label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["City"]</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Address"]</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address"></span>
    </div><div class="form-group">
        <label>@Localizer["ClubText"]</label>
        <input asp-for="Club" class="form-control" />
        <span asp-validation-for="Club"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["ClubEntity"]</label>
        <select asp-for="ClubId" asp-items="@Model.ClubsAvailable" class="form-control btn btn-secondary">
            <option value=@null>@Localizer["PleaseSelect"]</option>
        </select>
    </div>
    <div class="form-group">
        <label>@Localizer["PlayerLimit"]</label>
        <input asp-for="PlayerLimit" class="form-control" />
        <span asp-validation-for="PlayerLimit"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Rounds"]</label>
        <input asp-for="Rounds" class="form-control" />
        <span asp-validation-for="Rounds"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["ArmyPoints"]</label>
        <input asp-for="ArmyPoints" class="form-control" />
        <span asp-validation-for="ArmyPoints"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["SpecificRules"]</label>
        <textarea asp-for="SpecificRules" class="form-control" text-wrap:normal" type="text" placeholder="@Localizer["InsertSpecificRules"]"></textarea>
        <span asp-validation-for="SpecificRules"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Organizer"]</label>
        <input asp-for="Organizer" class="form-control" readonly />
        <input type="hidden" asp-for="OrganizerId" readonly>
    </div>
    <div class="form-group">
        <label>@Localizer["Fee"]</label>
        <input asp-for="Fee" class="form-control" />
        <span asp-validation-for="Fee"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["FeeCurrency"]</label>
        <input asp-for="FeeCurrency" class="form-control" />
        <span asp-validation-for="FeeCurrency"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Bpwin"]</label>
        <input asp-for="Bpwin" class="form-control" />
        <span asp-validation-for="Bpwin"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Bptie"]</label>
        <input asp-for="Bptie" class="form-control" />
        <span asp-validation-for="Bptie"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Bploss"]</label>
        <input asp-for="Bploss" class="form-control" />
        <span asp-validation-for="Bploss"></span>
    </div>
    <div class="form-group">
        <label>@Localizer["Game"]</label>
        <select asp-for="GameId" asp-items="@Model.GamesAvailable" class="form-control btn btn-secondary">
            <option value="@null">@Localizer["PleaseSelect"]</option>
        </select>
    </div>
    <div class="form-group">
        <label>@Localizer["TieBreaker1"]</label>
        <select asp-for="TieBreaker1" asp-items="@Model.TieBreakersAvailable" class="form-control btn btn-secondary">
            <option value="@null">@Localizer["None"]</option>
        </select>
    </div>
    <div class="form-group">
        <label>@Localizer["TieBreaker2"]</label>
        <select asp-for="TieBreaker2" asp-items="@Model.TieBreakersAvailable" class="form-control btn btn-secondary">
            <option value="@null">@Localizer["None"]</option>
        </select>
    </div>
    <div class="form-group">
        <label>@Localizer["TieBreaker3"]</label>
        <select asp-for="TieBreaker3" asp-items="@Model.TieBreakersAvailable" class="form-control btn btn-secondary">
            <option value="@null">@Localizer["None"]</option>
        </select>
    </div>
    <div class="form-group">
        <label>@Localizer["TieBreaker4"]</label>
        <select asp-for="TieBreaker4" asp-items="@Model.TieBreakersAvailable" class="form-control btn btn-secondary">
            <option value="@null">@Localizer["None"]</option>
        </select>
    </div>
    @if (Model.Status == nameof(TournamentStatus.Draft) || Model.Status == nameof(TournamentStatus.Pending))
    {
        <div class="form-group">
            <ul>
                @for (var i = 0; i < Model.BoardsSelection.Count; i++)
                {
                    <li>
                        <label>@Model.BoardsSelection[i].Name</label>
                        <input asp-for="@Model.BoardsSelection[i].Count" />
                        <input type="hidden" asp-for="@Model.BoardsSelection[i].Id" />
                        <input type="hidden" asp-for="@Model.BoardsSelection[i].Name" />
                    </li>
                }
            </ul>
        </div>
    }

    <div class="row">
        <div class="mb-1">
            <h3>@Localizer["Players"]</h3>
            <input type="text" id="regUserText" value="" />
            <a id="regUserLink" asp-controller="Tournaments" asp-action="Register" asp-route-tournamentId="@Model.Id" asp-route-user="xxx" class="btn btn-secondary">@Localizer["RegisterPlayer"]</a>
        </div>
        <table class="table table-striped table-dark table-hover table-sm table-responsive-sm">
            <thead>
                <tr>
                    <th width="10%" scope="col">@Localizer["Player"]</th>
                    <th width="7%" scope="col">@Localizer["Block"]</th>
                    <th scope="col">@Localizer["Faction"]</th>
                    <th width="7%" scope="col">@Localizer["BonusPoints"]</th>
                    <th width="7%" scope="col">@Localizer["PenaltyPoints"]</th>
                    <th width="7%" scope="col">@Localizer["Bp"]</th>
                    <th width="7%" scope="col">@Localizer["Sp"]</th>
                    <th width="7%" scope="col">@Localizer["SoS"]</th>
                    <th width="7%" scope="col">@Localizer["TotalBigPoints"]</th>
                    <th width="10%" scope="col">@Localizer["Action"]</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.PlayersList.Count; i++)
                {
                    <tr>
                        <th scope="col"><input type="hidden" asp-for="@Model.PlayersList[i].Id" /> @Model.PlayersList[i].User</th>
                        <td>@Model.PlayersList[i].Block</td>
                        <td>@Model.PlayersList[i].Faction</td>
                        <td><input asp-for="@Model.PlayersList[i].BonusPoints" /></td>
                        <td><input asp-for="@Model.PlayersList[i].PenaltyPoints" /></td>
                        <td>@Model.PlayersList[i].Bp</td>
                        <td>@Model.PlayersList[i].Sp</td>
                        <td>@Model.PlayersList[i].SoS</td>
                        <td>@Model.PlayersList[i].TotalBigPoints</td>
                        <td><a class="btn btn-secondary" asp-controller="Tournaments" asp-action="Unregister" asp-route-tournamentId="@Model.Id" asp-route-userId="@Model.PlayersList[i].UserId">@Localizer["Kick"]</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @for (int i = 0; i < Model.RoundsList.Count; i++)
    {
        <div class="row">
            <input type="hidden" asp-for="@Model.RoundsList[i].Id" />
            <input type="hidden" asp-for="@Model.RoundsList[i].Number" />
            <h4>@Localizer["Round"] @Model.RoundsList[i].Number</h4>
            <table class="table table-striped table-dark table-hover table-sm table-responsive-sm">
                <thead>
                    <tr>
                        <th width="15%" scope="col">@Localizer["PlayerA"]</th>
                        <th width="15%" scope="col">@Localizer["PlayerB"]</th>
                        <th width="5%" scope="col">@Localizer["BoardNumber"]</th>
                        <th scope="col">@Localizer["BoardType"]</th>
                        <th width="7%" scope="col">@Localizer["Bpa"]</th>
                        <th width="7%" scope="col">@Localizer["Bpb"]</th>
                        <th width="7%" scope="col">@Localizer["Spa"]</th>
                        <th width="7%" scope="col">@Localizer["Spb"]</th>
                        <th width="7%" scope="col">@Localizer["SoSa"]</th>
                        <th width="7%" scope="col">@Localizer["SoSb"]</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var j = 0; j < Model.RoundsList[i].Matches.Count; j++)
                    {
                        <tr>
                            <th scope="row">
                                <input type="hidden" asp-for="@Model.RoundsList[i].Matches[j].Id" />
                                <select asp-for="@Model.RoundsList[i].Matches[j].PlayerAid" asp-items="@Model.PlayersAvailable" class="form-control btn-secondary">
                                    <option value="@null">@Localizer["PleaseSelect"]</option>
                                </select>
                                <span asp-validation-for="@Model.RoundsList[i].Matches[j].PlayerAid"></span>
                            </th>
                            <td>
                                <select asp-for="@Model.RoundsList[i].Matches[j].PlayerBid" asp-items="@Model.PlayersAvailable" class="form-control btn-secondary">
                                    <option value="@null">@Localizer["PleaseSelect"]</option>
                                </select>
                                <span asp-validation-for="@Model.RoundsList[i].Matches[j].PlayerBid"></span>
                            </td>
                            <td><input asp-for="@Model.RoundsList[i].Matches[j].BoardNumber" class="form-control" /></td>
                            <td>
                                <select asp-for="@Model.RoundsList[i].Matches[j].BoardTypeId" asp-items="@Model.BoardsAvailable" class="form-control btn-secondary">
                                    <option value="@null">@Localizer["PleaseSelect"]</option>
                                </select>
                                <span asp-validation-for="@Model.RoundsList[i].Matches[j].BoardTypeId"></span>
                            </td>
                            <td><input asp-for="@Model.RoundsList[i].Matches[j].Bpa" class="form-control" /></td>
                            <td><input asp-for="@Model.RoundsList[i].Matches[j].Bpb" class="form-control" /></td>
                            <td><input asp-for="@Model.RoundsList[i].Matches[j].Spa" class="form-control" /></td>
                            <td><input asp-for="@Model.RoundsList[i].Matches[j].Spb" class="form-control" /></td>
                            <td><input asp-for="@Model.RoundsList[i].Matches[j].SoSa" class="form-control" readonly /></td>
                            <td><input asp-for="@Model.RoundsList[i].Matches[j].SoSb" class="form-control" readonly /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <div class="text-center">
        <input class="btn btn-secondary" type="submit" value="@Localizer["Save"]" />
        <a class="btn btn-secondary" asp-controller="Tournaments" asp-action="Index">@Localizer["Discard"]</a>
    </div>
</form>

