@model UserViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["EditPlayer"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserName</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>@Localizer["Name"]</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["UserName"]</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Surname"]</label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Password"]</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Email"]</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Country"]</label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["City"]</label>
        <input asp-for="City" class="form-control" readonly />
        <span asp-validation-for="City"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Club"]</label>
        <select asp-for="ClubId" asp-items="@Model.ClubsAvailable" class="form-control btn btn-secondary">
            <option value="@null">@Localizer["PleaseSelect"]</option>
        </select>
        <span asp-validation-for="ClubId"></span>
    </div>

    @if (Model.IsAdmin)
    {
        <div class="form-group">
            <label>@Localizer["Role"]</label>
            <select asp-for="RoleId" asp-items="@Model.RolesAvailable" class="form-control btn btn-secondary">
                <option value="@null">@Localizer["PleaseSelect"]</option>
            </select>
            <span asp-validation-for="RoleId"></span>
        </div>

        <div class="form-group" style="width: 50px">
            <label>@Localizer["Deactivate"]</label>
            @Html.EditorFor(Model => Model.LockoutEnabled)
            @*<input asp-for="LockoutEnabled" class="form-control" />*@
            <span asp-validation-for="LockoutEnabled"></span>
        </div>
    }

    <div class="text-center">
        <input class="btn btn-secondary" type="submit" value="@Localizer["Save"]" />
        <a class="btn btn-secondary" asp-controller="Players" asp-action="Index">@Localizer["Discard"]</a>
    </div>
</form>
