@model BlockViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["UpsertBlock"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(Model.Id > 0 ? Localizer["EditBlock"] : Localizer["CreateBlock"])</h2>

<form asp-controller="Block" asp-action="Upsert" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>@Localizer["Name"]</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Game"]</label>
        <select asp-for="GameId" asp-items="@Model.GamesAvailable" class="form-control">
            <option value="@null">@Localizer["PleaseSelect"]</option>
        </select>
        <span asp-validation-for="GameId"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Slogan"]</label>
        <input asp-for="Slogan" class="form-control" />
        <span asp-validation-for="Slogan"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Logo"]</label>
        <input asp-for="Logo" class="form-control" readonly />
        <button class="btn btn-secondary">@Localizer["UploadLogo"]</button>
        <span asp-validation-for="Logo"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Icon"]</label>
        <input asp-for="Icon" class="form-control" readonly />
        <button class="btn btn-secondary">@Localizer["UploadIcon"]</button>
        <span asp-validation-for="Icon"></span>
    </div>

    <div class="text-center">
        <input class="btn btn-secondary" type="submit" value="@Localizer["Save"]" />
        <a class="btn btn-secondary" asp-controller="Block" asp-action="Index">@Localizer["Discard"]</a>
    </div>
</form>
