@model BlockViewModel

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["UpsertBlock"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(Model.Id > 0 ? Localizer["EditBlock"] : Localizer["CreateBlock"])</h2>

<form asp-controller="Block" asp-action="Upsert" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>@Localizer["Name"]</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Game"]</label>
        <select asp-for="GameId" asp-items="@Model.GamesAvailable" class="form-control">
            <option value="@null">@Localizer["PleaseSelect"]</option>
        </select>
        <span asp-validation-for="GameId"></span>
    </div>

    <div class="form-group">
        <label>@Localizer["Slogan"]</label>
        <input asp-for="Slogan" class="form-control" />
        <span asp-validation-for="Slogan"></span>
    </div>

    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="uploadLogoFileLabel">@Localizer["UploadLogo"]</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="uploadLogoFile"
                   aria-describedby="uploadLogoFileLabel">
            <label class="custom-file-label" for="inputGroupFile01">@Localizer["ChooseFile"]</label>
        </div>
    </div>

    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="uploadIconFileLabel">@Localizer["UploadIcon"]</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="uploadIconFile"
                   aria-describedby="uploadIconFileLabel">
            <label class="custom-file-label" for="inputGroupFile01">@Localizer["ChooseFile"]</label>
        </div>
    </div>

    <div class="text-center">
        <input class="btn btn-secondary" type="submit" value="@Localizer["Save"]" />
        <a class="btn btn-secondary" asp-controller="Block" asp-action="Index">@Localizer["Discard"]</a>
    </div>
</form>
