@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dust Tournament Keeper</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" asp-href-include="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Dust Tournament Keeper</a>
                </div>
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Tournaments" asp-action="Index">@Localizer["Tournaments"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Players" asp-action="Index">@Localizer["Players"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Clubs" asp-action="Index">@Localizer["Clubs"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Rankings" asp-action="Index">@Localizer["Rankings"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Management" asp-action="Index">@Localizer["Management"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">@Localizer["ContactUs"]</a></li>
                    </ul>
                </div>
                <div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-controller="Account" asp-action="SignOff" method="post" id="logoutForm" class="navbar-right">
                            <ul class="navbar-nav mr-auto">
                                <li>
                                    <a class="btn btn-link navbar-btn navbar-link" asp-controller="Players" asp-action="Details" title="@Localizer["Manage"]">@Localizer["Hello"] @UserManager.GetUserName(User)!</a>
                                </li>
                                <li>
                                    <button type="submit" class="btn btn-link navbar-btn navbar-link">@Localizer["LogOff"]</button>
                                </li>
                            </ul>
                        </form>
                    }
                    else
                    {
                        <ul class="navbar-nav mr-auto">
                            <li><a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["LogIn"]</a></li>
                        </ul>
                    }
                </div>
                <div>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Language" asp-action="ChangeLanguage" asp-route-language="en-US">EN</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Language" asp-action="ChangeLanguage" asp-route-language="pl">PL</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container body-content">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <hr />
        <footer class="footer">
            <div class="container">
                <span class="text-info"><a href="mailto:spietrzak@blackoutsystems.net">&copy; Blackout Systems 2019</a></span>
            </div>
        </footer>
    </div>
</body>
</html>
