@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["ContactTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["Contact"]</h2>
<hr />

<div class="form-group">

    <div>
        <h3>@Localizer["WarFactoryHeader"]</h3>
        <p>@Localizer["WarFactoryDescription"]</p>
        <p>@Localizer["WarFactoryWebsite"]: <a href="http://warfactory.pl/" target="_blank" rel="noopener noreferrer">warfactory.pl</a></p>
        <p>@Localizer["WarFactoryEmail"]: <a href="mailto:kontakt@warfactory.pl">kontakt@warfactory.pl</a></p>
    </div>

    <hr />

    <div>
        <h3>@Localizer["BlackoutSystemsHeader"]</h3>
        <p>@Localizer["BlackoutSystemsDescription"]</p>
        <p>@Localizer["BlackoutSystemsEmail"]: <a href="mailto:spietrzak@blackoutsystems.net">spietrzak@blackoutsystems.net</a></p>
    </div>
</div>


