@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["ManagementTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-5"><a class="btn btn-secondary mb-1" asp-controller="Game" asp-action="Index">@Localizer["Games"]</a></div>
        <div class="col-md-5"><a class="btn btn-secondary mb-1" asp-controller="Block" asp-action="Index">@Localizer["Blocks"]</a></div>
        <div class="col-md-5"><a class="btn btn-secondary mb-1" asp-controller="Faction" asp-action="Index">@Localizer["Factions"]</a></div>
        <div class="col-md-5"><a class="btn btn-secondary mb-1" asp-controller="BoardType" asp-action="Index">@Localizer["BoardTypes"]</a></div>
        <div class="col-md-5"><a class="btn btn-secondary mb-1" asp-controller="Players" asp-action="AdminIndex">@Localizer["Players"]</a></div>
        <div class="col-md-5"><a class="btn btn-secondary mb-1" asp-controller="Management" asp-action="HowTo">@Localizer["HowTo"]</a></div>
    </div>
</div>

