@model BoardType

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["BoardTypeDetails"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<a class="btn btn-secondary mb-1" asp-controller="BoardType" asp-action="Upsert" asp-route-id="@Model.Id">@Localizer["Edit"]</a>
<a class="btn btn-secondary mb-1" asp-controller="BoardType" asp-action="Index">@Localizer["List"]</a>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4 border border-secondary bg-secondary"><p>@Localizer["Name"]</p></div>
        <div class="col-md-4 border border-secondary bg-secondary"><p>@Model.Name</p></div>
    </div>
    <div class="row">
        <div class="col-md-4"><p>@Localizer["Description"]</p></div>
        <div class="col-md-4"><p>@Model.Description</p></div>
    </div>
</div>