@model IEnumerable<BoardType>

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["BoardsTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["BoardTypes"]</h2>
<a class="btn btn-dark" asp-controller="BoardType" asp-action="Upsert">@Localizer["Create"]</a>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">@Localizer["Name"]</th>
            <th scope="col">@Localizer["Description"]</th>
            <th scope="col">@Localizer["Action"]</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || Model.Count() == 0)
        {
            <tr><td colspan="4">@Localizer["NoBoardTypes"]</td></tr>
        }
        else
        {
            @foreach (var boardType in Model)
            {
            <tr>
                <th scope="row"><a asp-controller="BoardType" asp-action="Details" asp-route-id="@boardType.Id">@boardType.Name</a></th>
                <td>@boardType.Description</td>
                <td><a asp-controller="BoardType" asp-action="Remove" asp-route-id="@boardType.Id">@Localizer["Remove"]</a></td>
            </tr>
            }
        }
    </tbody>
</table>


